.add-menu{
	position: absolute;
	bottom: 5%;
	right: 8%;
	width: 1px;
	height: 1px;
	background: var(--color-bg);
	transition: all 0.2s;
	animation: enter 0.3s ease forwards;
	z-index: 2;
	overflow: auto;
}

@keyframes enter{
	to{width: 100%;height: 100%;bottom: 0;right: 0;}
}


.back-button{
	color: var(--color-back-button);
	width: 50px;
	height: 50px;
	margin: 20px 10px;
	transition: all 0.2s;
}

.back-button:hover{
	opacity: 0.5;
}

.title{
	color: var(--color-back-button);
	margin: 10px 10px;
	font-size: 30px;
	width: 50px;
	text-transform: uppercase;
	font-weight: 600;
}

form{
	display: flex;
	flex-direction: column;
}

form label{
	color: var(--color-back-button);
	opacity: 0.5;
	margin-left: 10px;
	font-weight: 300;
}

form input{
	background: var(--color-bg-input);
	border: 0;
	width: 90%;
	margin-left: 10px;
	color: var(--color-back-button);
	margin-bottom: 10px;
	border-radius: 15px;
}

form input:focus{
	outline: none;
}

.save{
	background: var(--color-bg-save-button);
	padding: 20px 40px;
	border-radius: 20px;
	color: var(--color-back-button);
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.2s;
}

.save:hover{
	opacity: 0.5;
}

