.options-menu{
	width: 0;
	height: 100%;
	background: var(--color-bg);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	animation: optionsIn forwards 0.3s ease;
	display: flex;
	align-items: center;
	flex-direction: column;
}

@keyframes optionsIn{
	to{width: 100%;}
}

.options-icon{
	color: var(--color-back-button);
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	margin-top: 10vh;
}

.options-title{
	color: var(--color-back-button);
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.options-button{
	color: var(--color-back-button);
	padding: 15px 30px;
	margin: 10px;
	background: var(--color-bg-input);
	width: 90%;
	border-radius: 25px;
	display: flex;
	font-weight: 300;
	transition: all 0.2s;
}

.options-button:hover{
	opacity: 0.5;
}

.options-button-icon{
	width: 15px;
	height: 15px;
	margin-right: 10px;
}