header{
	width: 100%;
	height: 5vh;
	display: flex;
	align-items: center;
	padding: 10% 5%;
}
.sidebar-icon{
	color: var(--color-back-button);
	transform: scale(2);
	margin-right: 5%;
	transition: all 0.2s;
}
.sidebar-icon:hover{
	opacity: 0.5;
}
.search-bar{
	background: transparent;
	border-radius: 25px;
	width: 100%;
	color: var(--color-back-button);
	font-size: 15px;
	padding: 10px;
}
.search-bar:focus{
	outline: none;
}