.other-menu{
	position: absolute;
	top: 70px;
	right: 35px;
	opacity: 0;
	animation: otherMenuIn forwards 0.5s ease;
	background: var(--other-menu-bg);
	padding: 20px;
	backdrop-filter: blur(10px);
	border-radius: 20px;
	border-top-right-radius: 0;
	z-index: 2;
	width: 200px;
}

.other-menu button{
	background: var(--color-bg-save-button);
	width: 100%;
	font-size: 18px;
	padding: 10px;
	border-radius: 10px;
	color: var(--color-back-button);
	transition: background 0.2s ease-in-out;
}

.other-menu button:nth-child(1){
	margin-bottom: 10px;
}

.other-menu button:hover{
	background: #2e2c37c4;
}
.other-menu button:nth-child(2):hover{
	background: #74161e50;
}

@keyframes otherMenuIn{
	to{opacity: 1;}
}