.app{
	width: 25vw;
	height: 70vh;
	background: #111016;
	min-width: 375px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.add-button{
	position: absolute;
	bottom: 5%;
	right: 8%;
	color: #111016;
	background: #fff;
	border-radius: 50%;
	width: 52px;
	height: 52px;
	padding: 15px;
	transition: all 0.2s;
}

.add-button:hover{
	background: #ffffff76;
}

@media (width <= 762px) {
	.app{
		width: 100vw;
		height: 100vh;
		background: #111016;
		min-width: 375px;
		box-shadow: 0 0 10px rgba(128, 0, 128, 0.402);
		border-radius: 10px;
		overflow: hidden;
		position: relative;
	}	
}