@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
	background: #08070a;
	font-family: Roboto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

*{
	transition: background 0.2s ease;
}