.progress-bar{
	width: 100%;
	position: relative;
	background: #201f25;
	border-radius: 10px;
	overflow: hidden;
}
.progress{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transition: width 0.8s ease-in-out;
}

.progress-bar p{
	position: relative;
	text-align: center;
	color: #fff;
	font-size: 12px;
	z-index: 1;
}